.background{
    width: 100vw;
    height:100vh;
    background-size:cover;
    padding:0 auto;
}

.map{
    width:100vw;
    position:absolute;
    height:48.7vw;
    background-size:cover;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width:1000px) {
    .background{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .space{
        height:25vh;
    }
}

@media screen and (min-width:1000px) {
    .background{
        display:flex;
        align-items: center;
    }
    .space{
        height:0px;
        position:relative;
    }
}

.line {
    position:absolute;
    height:100%;
    left: 50%;
    color:red;
    border-left: 1px solid red;
 }