.background{
    width: 100vw;
    height:100vh;
    background-size:cover;
    padding:0 auto;

}

/*
.map{
    width:100vw;
    position:absolute;
    height:50.75vw;
    background-size:cover;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}
*/

.map{
    width:100vw;
    height:50.75vw;
    background-size:cover;
    position:relative;
    margin:0px;
}

@media screen and (max-width:1000px) {
    .background{
        margin:0px;
        padding:0px;
    }
    .space{
        height:25vh;
    }
}

@media screen and (min-width:1000px) {
    .background{
        display:flex;
        align-items: center;
    }
    .space{
        height:0px;
        position:relative;
    }
}

 .map-box{
    position:absolute;
    top:4.2%;
    left:3.6%;
    width:90.9%;
    height:90.4%;
 }