@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSansCondensed-Regular.ttf'),
      url('../fonts/FiraSansCondensed-Italic.ttf');
    font-weight: 400;
    font-style: normal;
  }

.box{
    display:flex;
    flex-direction: column;
    border: 5px solid whitesmoke;
    border-radius: 10px;
    background-color: #242424;
    justify-content: space-between;
    font-family: 'Fira Sans', sans-serif;
    color: whitesmoke;
    align-items: center;
    padding:5px;
    transition: cubic-bezier(0.28, 0.46, 0.29, 1.07);
    transition-duration: 750ms;
}

.title{
    font-style:italic;
    font-weight:700;   
    font-size: 36px; 
}

@media screen and (min-width:1000px) {
    .box{
        position: absolute;
        height:250px;
        width:350px;
        top:40vh;
        transform: translate(-50%, -50%);
    }

    .left-side{
        left: 25vw;
    }

    .right-side{
        left:75vw;
    }
}

@media screen and (max-width:1000px) {
    .box{
        width:350px;
        height:250px;
        position:relative;
        left:50%;
        transform:translate(-50%,0);
    }
}

.form-text{
    font-size:20px;
    margin:0;
}
