@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSansCondensed-Regular.ttf'),
      url('../fonts/FiraSansCondensed-Italic.ttf');
    font-weight: 400;
    font-style: normal;
  }

.form{
    display:flex;
    justify-content: space-evenly;
    width:auto;
    padding-top:5px;
    gap:10px;
}

#city{
    border-radius: 5px;
    border: 0;
    font-size:15px;
    font-family: 'Fira Sans';
}

#submit{
    border: 1px solid whitesmoke;
    border-radius: 5px;
    background-color: #242424;
    font-weight: 600;
    color: whitesmoke;
    font-size:15px;
    font-family: 'Fira Sans';
}