.weatherDisp{
    align-self:flex-start;
    margin:0px 35px;
}

.city{
    font-weight:400;   
    font-size: 30px; 
}

.loading{
    font-weight:400;   
    font-size: 30px; 
    position: relative;
    left:80px;
}
.load-image{
    position:relative;
    left:-50px;
}

.weatherStack{
    display:flex;
    justify-content: space-between;
    width:auto;
    gap:20px;
}

.weatherDay{
    margin:0px;
    font-size: 20px;
    white-space: nowrap;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.icon{
    font-size: 40px;
}

.yellow{
    color:#F0C808;
    font-weight:bold;
}